html, body {
	width:100%;
	height:100%;
	padding: 0px;
	margin: 0px;
	font-family: 'Merriweather', serif;
}

#app {
	width:100%;
	height:100%;
	max-width: 1000px;
	margin:0px auto;
}
.layout-pane {
	width:50%;
	height: 100%;
	display: table;
	text-align: center;
	float: left;
	box-sizing: border-box;
}
.layout-pane:first-child .pane-inner{
	background-color: #FFF;
}
.pane-inner {
	background-color: #E7E9EC;
	display: table-cell;
	padding-top: 15px;
}

#form, #preview {
	width:100%;
	max-width: 400px;
	text-align: left;
	margin: 0px auto;
}

#form {
	padding-left: 18px;
}
#form h1 {
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 30px;
	margin-bottom: 16px;
	color:#384E62;
}
.form-section {
	margin-bottom: 10px;
	float:left;
}

.form-section h2 {
	text-transform: uppercase;
	color:#ccc;
	font-size: 10px;
	border-bottom: 1px solid  #E7E9EC;
	margin-bottom: 25px;
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: normal;
}
.input-wrapper {
	width:50%;
	float:left;
	box-sizing: border-box;
	margin-bottom: 2px;
}
.input-wrapper.odd {
	padding-right: 10px;
}
.input-wrapper.even {
	padding-left: 10px;
}

.input-wrapper label,.input-wrapper input {
	display: block;
	width: 100%;
}
.input-wrapper label {
	text-transform: uppercase;
	font-size:12px;
	color:#758E9D;
	font-family: 'Merriweather Sans', sans-serif;
}
.input-wrapper input {
	box-sizing: border-box;
	padding: 0px 10px;
	height:35px;
	border-radius: 5px;
	border:1px solid #ccc;
	font-size: 16px;
	margin-top: 2px;
	margin-bottom: 12px;
	font-family: 'Merriweather', serif;
}
.btn {
	position: relative;
    overflow: hidden;
    width: 100%;
    font-family: 'Merriweather Sans', sans-serif;
    color: #FFF;
    border: 0;
    padding: 8px;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 5px;
}
.btn input {
	position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.btn.btn-upload {
	background: #758E9D;
 	border-bottom: 2px solid #526773;
}

.btn.btn-submit {
	background: #3FA9E2;
 	border-bottom: 2px solid #3094C8;	
}

#preview {
	background-color: #E7E9EC;
	margin-top: 95px;
	max-width: 430px;
	padding-left: 20px;
}
#preview h2 {
	font-family: 'Merriweather Sans', sans-serif;
    margin-bottom: 7px;
    color: ccc;
    font-weight: 400;
    font-size: 16px;
    text-align: right;
}
.preview-inner {
	background-color: #FFF;
    height: 306px;
    box-sizing: border-box;
	border-bottom:2px solid #bebebe;
}
.preview-header {
	height: 100px;
	width:100%;
	background:#394F63;
	display: table;
	padding: 8px;
	box-sizing: border-box;
	position: relative;

}

.preview-fullname {
	display: table-cell;
    vertical-align: bottom;
    font-size: 25px;
    color: #FFF;
    padding:0px 90px 11px 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}

.preview-image {
	width: 85px;
    height: 105px;
    position: absolute;
    right: 13px;
    bottom: -17px;
    background-color: #FFF;
    border: 1px solid #bebebe;
    border-bottom: 2px solid #bebebe;
    box-sizing: border-box;
}
.preview-image img {
	border:0;
	width:100%;
	height:100%;	
}
.preview-body {
	padding: 25px;
	float: left;
    width: 100%;
    box-sizing: border-box;
}

.preview-field {
	height: 25px;
	line-height: 25px;
	border-bottom: 1px solid #E7E9EC;
	margin-bottom: 6px;
}
.preview-field.full-width {
	width:100%;
}
.preview-field.half-width {
	width:50%;
	float: left;
}
.preview-field-label, .preview-field-value {
	display: inline-block;
}

.preview-field-label {
	min-width: 70px;
	text-transform: uppercase;
	color:#758E9D;
	font-size: 11px;
	font-family: 'Merriweather Sans', sans-serif;
}
@media screen and (max-width:920px) {
	#preview {
		margin-top: 20px;
		padding-left: 0px;

	}
	.layout-pane {
		width:100%;
		height:50%;
		padding-bottom: 10px;
	}
	.pane-inner {
		padding-top: 0px;
	}

}

@media screen and (max-width:750px) {
	#app, .layout-pane {
		transform: scaleY(1);
		-ms-transform: scaleY(1);
		-webkit-transform: scaleY(1);
	}
	.layout-pane {
		width:100%;
		height:auto;
		padding: 4px;
		padding-bottom: 0px;
	}
	.pane-inner {
		padding-top: 0px;
	}
	#form {
		padding-left: 0px;
	}
	#preview {
		margin-top: 1em;
		margin-bottom: 1em;
		padding-left: 0px;
	}
	#preview h2 {
		padding-right: 8px;
	}
	.input-wrapper {
		width:100%;
	}
	.input-wrapper.odd, .input-wrapper.even {
		padding-left:4px;
		padding-right:4px;
	}
	.input-wrapper .btn {
		margin-bottom: 8px;
	}
}