<html>
	<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='https://fonts.googleapis.com/css?family=Merriweather:400,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700' rel='stylesheet' type='text/css'>
<!--[if lte IE 8]>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Merriweather:400" /> 
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Merriweather:700" /> 
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Merriweather+Sans:400" /> 
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Merriweather+Sans:700" /> 
<![endif]-->

	<link href="css/styles.css" rel="stylesheet" type="text/css" >
	<link href="css/normalize.css" rel="stylesheet" type="text/css" >
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js" type="text/javascript"></script>
	</head>
	<body>
		<div id="root">
		</div>
		<script src="scripts/angular.js" type="text/javascript"></script>
		
		<script type="text/template" id="hCardTemplate">
		    <div ng-controller="formController as vm" id="app">
				<div class="layout-pane">
					<div class="pane-inner">
						<div id="form">
							<h1>hCard Builder</h1>
						 	<span id="inputs-wrapper">
								<div class="form-section" ng-repeat="(sectionId,section) in vm.form.sections">
									<h2 ng-bind="section.label"></h2>
									<div class="input-wrapper" ng-class="$even ? 'odd' : 'even'" ng-repeat="fieldId in section.fields">
										<label for="{{fieldId}}" ng-bind="vm.form.fields[fieldId].label"></label>
										<input type="{{vm.form.fields[fieldId].type}}" name="{{fieldId}}" ng-model="vm.model[fieldId]">
									</div>
								</div>
							</span>
							<div class="input-wrapper odd">
								<button class="btn btn-upload">
									Upload Avatar
									<input type="file" onchange="loadImage(this)" accept="image/*" />
								</button>
							</div>
							<div class="input-wrapper even">
								<button class="btn btn-submit">
									Create hCard
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="layout-pane">
					<div class="pane-inner">
						<div id="preview">
							<h2>HCARD PREVIEW</h2>
							<div class="preview-inner">
								<div class="preview-header">
									<div class="preview-fullname">
										<span>
											{{vm.model.firstName}}
										</span>
										<span>
											{{vm.model.lastName}}
										</span>
									</div>
									<div class="preview-image">
										<img id="preview-image" src="head.png"/>
									</div>
								</div>
								<div class="preview-body">
									<div class="preview-field full-width">
										<div class="preview-field-label">
											Email
										</div>
										<div class="preview-field-value">
											{{vm.model.email}}
										</div>
									</div>
									<div class="preview-field full-width">
										<div class="preview-field-label">
											Phone
										</div>
										<div class="preview-field-value">
											{{vm.model.phone}}
										</div>
									</div>
									<div class="preview-field full-width">
										<div class="preview-field-label">
											Address
										</div>
										<div class="preview-field-value">
											<span>
												{{vm.model.streetNumber}}
											</span>
											<span>
												{{vm.model.streetName}}
											</span>
										</div>
									</div>
									<div class="preview-field full-width">
										<div class="preview-field-label">
											
										</div>
										<div class="preview-field-value">
											<span>
												{{vm.model.suburb}}
											</span>
											<span>
												{{vm.model.state}}
											</span>
										</div>
									</div>
									<div class="preview-field half-width">
										<div class="preview-field-label">
											Postcode
										</div>
										<div class="preview-field-value">
											{{vm.model.postcode}}
										</div>
									</div>
									<div class="preview-field half-width">
										<div class="preview-field-label">
											Country
										</div>
										<div class="preview-field-value">
											{{vm.model.country}}
										</div>	
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		    </div>
		</script>
	</body>	
</html>